<script type="text/html" data-script-type="create-penalty-scheme-subform-once">
    <tr>
        <td><label for="createFormSum">Сумма штрафа</label></td>
        <td>
            <input type="text" id="createFormSum" name="sum" placeholder="0.00"/>
        </td>
    </tr>
</script>

<script type="text/html" data-script-type="create-penalty-scheme-subform-constant">
    <tr>
        <td><label for="createFormSum">Сумма штрафа</label></td>
        <td>
            <input type="text" id="createFormSum" name="sum" placeholder="0.00"/>
        </td>
    </tr>
    <tr>
        <td><label for="createFormPenaltyPeriod">Период штрафования</label></td>
        <td>
            <div>
                <input type="text" id="createFormPenaltyPeriod" name="options[period]" placeholder="(в часах)"/>
            </div>
        </td>
    </tr>
</script>

<script type="text/html" data-script-type="create-penalty-scheme-subform-progressive">
    <tr>
        <td><label for="createFormSum">Сумма штрафа</label></td>
        <td>
            <input type="text" id="createFormSum" name="sum" placeholder="0.00"/>
        </td>
    </tr>
    <tr>
        <td><label for="createFormPenaltyPeriod">Период штрафования</label></td>
        <td>
            <div>
                <input type="text" id="createFormPenaltyPeriod" name="options[period]" placeholder="(в часах)"/>
            </div>
        </td>
    </tr>
    <tr>
        <td><label for="createFormProgressiveMultiplier">Множитель суммы штрафа</label></td>
        <td>
            <div>
                <input type="text" id="createFormProgressiveMultiplier" name="options[multiplier]" placeholder="0.00" value="1.50"/>
            </div>
        </td>
    </tr>
</script>

<script type="text/html" data-script-type="create-penalty-scheme-subform-null">
    <tr>
        <td><label for="createFormPenaltyPeriod">Период штрафования</label></td>
        <td>
            <div>
                <input type="text" id="createFormPenaltyPeriod" name="options[period]" placeholder="(в часах)"/>
            </div>
        </td>
    </tr>
</script>

