<!--
    sorry for php, just to show how I use my code on server side
    Actually we prefer not binding events to the document.body and we bingind to the elements.
    (and of course we know about performance advantages if we'll use document.body)
-->

<script>
    var detailedPhotoManager = new DetailedPhotoManager();

    window['oDetailedPhotoManager'] = detailedPhotoManager;
    window['oDetailedPhotoUploader'] = {};

    $(function(){
        $('[data-product-photo-upload-open-link]').each(function(key, elem){
            var claimId = parseInt($(this).attr('data-product-photo-manager-claim-id'));

            var detailedPhotoUploader = new DetailedPhotoUploader(claimId, detailedPhotoManager);

            $(elem).click(function(e){
                e.preventDefault();
                detailedPhotoUploader.open(claimId);
            });

            window['oDetailedPhotoUploader']['hash'+claimId] = detailedPhotoUploader;
        });
    });
</script>

<?php
// Загрузка иконок "просмотр фотографии товара"
$this->depotDetailedPhoto()->load(array(
    'claimIds' => $this->detailedPhotoUploaderClaimIds
));
?>

<script type="text/html" data-form-template="detailed-photo-uploader">
    <section class="detailed-photo-uploader">
        <form action="#">
            <header class="table-header">
                <h1>Загрузка фотографий к товарам</h1>
            </header>
            <section class="records">
                <table class="form-table form-table-products">
                    <thead>
                        <tr>
                            <th style="width: 60px">ID</th>
                            <?php
                            $depotWrapper = new App_Depot_Wrapper(2);
                            $config = $depotWrapper->getBasicConfig();

                            $iterator = array_merge(array('photo'), range(1, 9));

                            foreach($iterator as $fieldName) {
                                $width = 'auto';
                                $align = 'center';

                                if(is_numeric($fieldName)) {
                                    $field = $config->fields['field'.$fieldName];
                                    $title = $field->title;

                                    if($field->width) {
                                        $width = $field->width.'px';
                                    }
                                }else if($fieldName == 'photo') {
                                    $title = 'Фото';
                                    $width = '190px';
                                }

                                echo <<<HTML
                                    <th style="width: {$width};" data-depot-field="{$fieldName}">{$title}</th>
HTML;

                            }

                            ?>
                        </tr>
                    </thead>
                    <tbody data-form-section="records"></tbody>
                </table>
            </section>
            <footer>
                <input type="button" value="Закрыть" data-form-button="hide"/>
                <input type="button" value="Загрузить" data-form-button="submit"/>
            </footer>
        </form>
    </section>
</script>

<script type="text/html" data-form-template="detailed-photo-uploader-record">
    <tr>
        <td data-table-attr="item-id"></td>
        <td data-table-attr="form-photo"></td>
        <td data-table-attr="1" class="depot">—</td>
        <td align="center" data-table-attr="2" class="depot">—</td>
        <td align="center" data-table-attr="3" class="depot">—</td>
        <td align="center" data-table-attr="4" class="depot">—</td>
        <td align="center" data-table-attr="5" class="depot">—</td>
        <td align="center" data-table-attr="6" class="depot">—</td>
        <td align="center" data-table-attr="7" class="depot">—</td>
        <td align="center" data-table-attr="8" class="depot">—</td>
        <td align="center" data-table-attr="9" class="depot">—</td>
    </tr>
</script>

<script type="text/html" data-form-template="detailed-photo-uploader-record-form">
    <form action="#" method="post" enctype="multipart/form-data">
        <section data-mode="upload">
            <div class="file-upload-record">
                <input type="file" name="file"/>
            </div>
        </section>
        <section data-mode="view">
            <div class="file">
                <a href="#" title="Открыть файл" class="view-link">filename.doc</a>
            </div>
            <div class="delete">
                <a href="#" title="Удалить файл" class="delete-link"><img src="/img/system/delete.png"></a>
            </div>
        </section>
        <section data-mode="error">
            <p>Произошла ошибка при загрузке файла <a class="repeat" href="#">Попробовать снова</a></p>
        </section>
    </form>
</script>